<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Primary Meta Tags -->
    <title>{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="title" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="keywords" content="web development, mobile apps, UI/UX design, digital solutions, full-stack development, Baseet Studio">
    <meta name="author" content="Baseet Studio">
    <meta name="robots" content="index, follow">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{- $ogImage := "images/home/hero/bill-sitting.png" -}}
    {{- with .Site.Params.images -}}
      {{- if reflect.IsSlice . -}}
        {{- $ogImage = index . 0 -}}
      {{- else -}}
        {{- $ogImage = . -}}
      {{- end -}}
    {{- end -}}
    <meta property="og:image" content="{{ absURL $ogImage }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="twitter:image" content="{{ absURL $ogImage }}">

    <!-- Performance & Security -->
    <meta name="theme-color" content="{{ .Site.Params.favicons.themeColor | default "#496BC1" }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <!-- Preconnect to external domains -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <link rel="dns-prefetch" href="https://images.unsplash.com">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Tailwind CSS -->
    {{- $css := resources.Get "css/custom.css" | css.PostCSS -}}
    {{- if hugo.IsProduction -}}
      {{- $css = $css | minify | fingerprint -}}
    {{- end -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

    {{ block "head" . }}{{ end }}
</head>

<body class="antialiased bg-white">
    {{ block "main" . }}{{ end }}
</body>

</html>
